body {
    background: linear-gradient(to bottom, #ff0000, #00ff00, #ffff00, #0000ff);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: Arial, sans-serif;
    filter: brightness(80%); /* Ajout d'un filtre de luminosité pour atténuer la couleur de fond */
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover; /* Pour remplir complètement le conteneur sans déformer l'image */
}
