body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover; /* Pour remplir complètement le conteneur sans déformer l'image */
}
