body {
    background: linear-gradient(to bottom, #ff0000, #00ff00, #ffff00, #0000ff);
    margin: 0; /* Pour enlever la marge par défaut du corps */
    height: 100vh; /* Pour occuper 100% de la hauteur de la fenêtre */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff; /* Couleur du texte, choisissez une couleur lisible */
    font-family: Arial, sans-serif; /* Police de caractères, choisissez celle que vous préférez */
}

img {
    max-width: 100%;
    height: auto;
}
